*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --first-color: #191e46;
    --second-color: #bed1d7;
    --third-color: #483551;
    --fourth-color: #fde8a9;
    --fifth-color: #f39b76;

}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}
ul {
    list-style: none;
}
a {
    display: flex;
    text-decoration: none;
    color: var(--fifth-color);
}
h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}
p {
    margin: 10px 0;
}
img {
    width: 75%;
}

/*Hero Section*/





